// COLORS //

$UI-100: #F3F3F3;
$UI-200: #E1E2E2;
$UI-300: #BFC1C5;
$UI-400: #A1A2A7;
$UI-500: #88898C;
$UI-600: #505257;
$UI-700: #242527;
$UI-800: #141414;

$CUSTOM-RED: #E15A5A;
$CUSTOM-ORANGE: #EA8135;
$CUSTOM-YELLOW: #F1DC1B;
$CUSTOM-GREEN: #71D224;
$CUSTOM-TURQOISE: #24D2A9;
$CUSTOM-BLUE: #2494D2;
$CUSTOM-PURPLE: #7124D2;
$CUSTOM-MAGENTA: #D224B6;

$BR-1: 2px;
$BR-2: 4px;
$BR-3: 8px;
$BR-4: 16px;

$BlS-1: 0 1px 3px 0 #00000050;
$BlS-2: 0 3px 8px 0 #00000050;
$BlS-3: 0 4px 14px 0 #00000050;
$BlS-4: 0 6px 24px 0 #00000050;
